:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

  body{
    overflow: hidden;
  }
  
  .parent{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #container {
    display: grid;
    width: 800px;
    height: 800px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);    
  }
  
  .grid-item {
    border: 1px solid #ddd;
    text-align: center;
    color: transparent;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    width: 500px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4ea1ee;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4ea1ee;
    cursor: pointer;
  }

  #size{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
  }

  #buttons{
    display: flex;
    width: 800px;
    justify-content: space-between;
  }

  /*#black,
  #rainbow,
  #erase,
  #clear{
    background-color: #ddd;
    color: black;
    font-size: 20px;
    border:2px solid #ddd;
    text-align: center;
    border-radius: 6px;
    padding: 5px 20px 5px 20px; 
}*/

.buttons{
  display:inline-block;
  background-color: #ddd;
  padding:0.35em 1.2em;
  border:0.1em solid #ddd;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  font-size: 20px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
}
.buttons:hover{
  font-weight: bolder;
  background-color:#c2c2c2;
}
@media all and (max-width:30em){
  .buttons{
    display:block;
    margin:0.4em auto;
  }
}

.buttons:focus{
  background-color:#c2c2c2;
  font-weight: bold;
}